
#view_title{
	width: 100%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: larger;
}

.topcoat-text-input,.topcoat-search-input{
	width: 100%;
	margin: 2px;
	min-height: 3rem;
}

.navbar, .navbar-button{
	width: 100%;
}

.topcoat-button--cta{
	min-height: 3rem;
}


#alert_count_btn{
	height: 28px;
	width: 28px;
	position: fixed;
	top: 15px;
	/* font-size: 20px; */
	/*left: 40px;*/
	right:0px;
	/*  background-color: rgb(60, 36, 102);
	color: white;
	-webkit-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	border: 1px solid;*/
	z-index: 1;
	color: #454545;
	background-color: #454545;
}

#alert_count { 
	margin-left: 10px;
	color: #FFF;
}

.footer-button{
	height: 30px;
	width: 30px;
	/*position: absolute;*/
	/* top: 6px; */
	/* right: 15px; */
	background-color: white;
	color: #454545;
	-webkit-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	border: 1px solid;
	display: inline-block;
	margin: 10px;
}

#alert_count{
	position: relative;
	z-index: 4;
	top: -20px;
	left: -5px;
}

#btnAlert{
	z-index: 5;
}

.topcoat-icon-button--quiet:hover{
	background-color: transparent;
}