body{
	color: #454545;
}
div{
	overflow: hidden;
}
a{
	text-decoration: none;
	color: #454545;
}


.topcoat-navigation-bar{
	height: 3.95rem;
	background-color: #3e3c3d;

}

.topcoat-navigation-bar__title{
	color: #c6c8c8;
}
