
#view_title{
	width: 100%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: larger;
}

.topcoat-text-input,.topcoat-search-input{
	width: 100%;
	margin: 2px;
	min-height: 3rem;
}

.navbar, .navbar-button{
	width: 100%;
}
